@import "../../assets/styles/colors";
@import "../../assets/styles/mixins";


.wrapper{
  color: $main-white;
}
.container{
  display: flex;
  justify-content: center;
  box-shadow: $main-shadow
}
.link {
  padding: 25px 15px;
  margin-right: 15px;
  border: 0;
  background: none;
  @include font-family
}
.link > a {
  font-size: 18px;
  font-weight: 500;
  color: $main-black;
  cursor: pointer;
  background: none;
  text-decoration: none;
}

.link > a:hover {
  color: $secondary-black;
}
