$main-bg: #E5E5E5;

$main-white: #ffffff;
$main-black: #23335B;
$main-red: #ff0000;

$secondary-black: #4363b5;
$secondary-gray: #9BA1AE;
$secondary-red: #b80c54;
$secondary-green: #149B58;

$opacity-black: rgba(35, 51, 91, 0.7);

$main-shadow: 0px 0px 20px 0px #23335B;
